# Movie Recommendations

Your company would like to start a movie studio and is asking us to recommend the best way foward. The main objective of this project is to produce three actionable recommendations for your company to take into consideration. With these recommendations your company can create their own successful movie studio.

# Goals

Here are the questions I would like to answer:
* What genres perform the best? 
* What is the ideal release date?
* Are there certain people involved in the most successful movies (directors, actors, or writers)?

## Success Metric

We will measure how much of the production budget was made back. A film is generally considered a success if it makes back at least 2x its budget. Therefore we will be judging success by ROI and looking for ROI of at least 100% to be considered a success.

ROI = ((worldwide gross - production budget) / production budget) x 100

## Data

* BOM Movie Gross (csv)
* IMDB (Database)
* Movie Budgets (csv)

## Methods

In [1]:
# import libraries
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
# connect database
conn = sqlite3.connect('../zippedData/im.db')

In [3]:
# review tables in the database (make sure bom is still added)
pd.read_sql("""

SELECT name
FROM sqlite_master
WHERE type = "table"

""", conn)

               name
0      movie_basics
1         directors
2         known_for
3        movie_akas
4     movie_ratings
5           persons
6        principals
7           writers
8   bom_movie_gross
9     rt_movie_info
10    movie_budgets
11   movies_summary

### Clean Movie Basics Data

In [4]:
movie_basics=pd.read_sql("""SELECT * FROM movie_basics""",conn)

In [5]:
movie_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   movie_id         146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [6]:
# Add success metric to movie_basics
movies_summary=pd.read_sql("""
SELECT movie, production_budget, worldwide_gross, genres, runtime_minutes  
FROM movie_budgets budget
INNER JOIN movie_basics basic
ON TRIM(LOWER(budget.movie))=TRIM(LOWER(basic.primary_title))
""",conn)

In [7]:
movies_summary

,movie,production_budget,worldwide_gross,genres,runtime_minutes
0,Avatar,"$425,000,000","$2,776,345,279",Horror,93.0
1,Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$1,045,663,875","Action,Adventure,Fantasy",136.0
2,Dark Phoenix,"$350,000,000","$149,762,350","Action,Adventure,Sci-Fi",113.0
3,Avengers: Age of Ultron,"$330,600,000","$1,403,013,963","Action,Adventure,Sci-Fi",141.0
4,Avengers: Infinity War,"$300,000,000","$2,048,134,200","Action,Adventure,Sci-Fi",149.0
...,...,...,...,...,...
3886,Cure,"$10,000","$94,596",None,NaN
3887,Bang,"$10,000",$527,None,NaN
3888,Newlyweds,"$9,000","$4,584","Comedy,Drama",95.0
3889,Red 11,"$7,000",$0,"Horror,Sci-Fi,Thriller",77.0
3890,A Plague So Pleasant,"$1,400",$0,"Drama,Horror,Thriller",76.0

In [8]:
# Add to SQL data
movies_summary.to_sql('movies_summary',conn, if_exists='replace')

3891

In [9]:
movies_summary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3891 entries, 0 to 3890
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   movie              3891 non-null   object
 1   production_budget  3891 non-null   object
 2   worldwide_gross    3891 non-null   object
 3   genres             3818 non-null   object
 4   runtime_minutes    3397 non-null   float64
dtypes: float64(1), object(4)
memory usage: 152.1+ KB

### Add Success Metric to movies_summary table

In [10]:
movies_summary

,movie,production_budget,worldwide_gross,genres,runtime_minutes
0,Avatar,"$425,000,000","$2,776,345,279",Horror,93.0
1,Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$1,045,663,875","Action,Adventure,Fantasy",136.0
2,Dark Phoenix,"$350,000,000","$149,762,350","Action,Adventure,Sci-Fi",113.0
3,Avengers: Age of Ultron,"$330,600,000","$1,403,013,963","Action,Adventure,Sci-Fi",141.0
4,Avengers: Infinity War,"$300,000,000","$2,048,134,200","Action,Adventure,Sci-Fi",149.0
...,...,...,...,...,...
3886,Cure,"$10,000","$94,596",None,NaN
3887,Bang,"$10,000",$527,None,NaN
3888,Newlyweds,"$9,000","$4,584","Comedy,Drama",95.0
3889,Red 11,"$7,000",$0,"Horror,Sci-Fi,Thriller",77.0
3890,A Plague So Pleasant,"$1,400",$0,"Drama,Horror,Thriller",76.0

In [11]:
movies_summary['production_budget'] = movies_summary['production_budget'].replace({'\$': '', ',': ''}, regex=True).astype(float)
movies_summary['worldwide_gross'] = movies_summary['worldwide_gross'].replace({'\$': '', ',': ''}, regex=True).astype(float)

In [12]:
#Calculate net profit and add to DF
movies_summary['net_profit'] = movies_summary['worldwide_gross'] - movies_summary['production_budget']

In [13]:
#Calculate ROI and add to DF
movies_summary['roi'] = (movies_summary['net_profit'] / movies_summary['production_budget']) * 100

In [14]:
# Format net_profit with commas for thousands separator
movies_summary['net_profit'] = movies_summary['net_profit'].apply(lambda x: f"{x:,.2f}")

# Format ROI as percentage (with two decimal places)
movies_summary['roi'] = movies_summary['roi'].apply(lambda x: f"{x:,.2f}%")

In [15]:
# Format production_budget and worldwide_gross with commas for thousands separator
movies_summary['production_budget'] = movies_summary['production_budget'].apply(lambda x: f"${x:,.0f}")
movies_summary['worldwide_gross'] = movies_summary['worldwide_gross'].apply(lambda x: f"${x:,.0f}")

In [16]:
movies_summary

,movie,production_budget,worldwide_gross,genres,runtime_minutes,net_profit,roi
0,Avatar,"$425,000,000","$2,776,345,279",Horror,93.0,"2,351,345,279.00",553.26%
1,Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$1,045,663,875","Action,Adventure,Fantasy",136.0,"635,063,875.00",154.67%
2,Dark Phoenix,"$350,000,000","$149,762,350","Action,Adventure,Sci-Fi",113.0,"-200,237,650.00",-57.21%
3,Avengers: Age of Ultron,"$330,600,000","$1,403,013,963","Action,Adventure,Sci-Fi",141.0,"1,072,413,963.00",324.38%
4,Avengers: Infinity War,"$300,000,000","$2,048,134,200","Action,Adventure,Sci-Fi",149.0,"1,748,134,200.00",582.71%
...,...,...,...,...,...,...,...
3886,Cure,"$10,000","$94,596",None,NaN,"84,596.00",845.96%
3887,Bang,"$10,000",$527,None,NaN,"-9,473.00",-94.73%
3888,Newlyweds,"$9,000","$4,584","Comedy,Drama",95.0,"-4,416.00",-49.07%
3889,Red 11,"$7,000",$0,"Horror,Sci-Fi,Thriller",77.0,"-7,000.00",-100.00%
3890,A Plague So Pleasant,"$1,400",$0,"Drama,Horror,Thriller",76.0,"-1,400.00",-100.00%

## What genres perform the best?

In [ ]:
# Create data frame with only relevant columns
genre_analysis=movies_summary[['genres','roi']]
genre_analysis

In [ ]:
# Check for null values
genre_analysis.isna().any()

In [ ]:
# Drop null values
genre_analysis=genre_analysis.dropna()

In [ ]:
#Confirm null values were dropped
genre_analysis.isna().any()

In [ ]:
# Split genres into lists
genre_analysis = genre_analysis.copy()
genre_analysis['genres'] = genre_analysis['genres'].str.split(',') 
 # Normalize the data
genre_analysis = genre_analysis.explode('genres').reset_index(drop=True)

In [ ]:
genre_analysis

In [ ]:
#Change percentages to string so we can calculate mean
genre_analysis['roi'] = genre_analysis['roi'].astype(str).str.replace(',', '').str.replace('%', '').astype(float)

genre_analysis_plot = genre_analysis.groupby('genres')['roi'].mean().reset_index()
genre_analysis_plot = genre_analysis_plot.sort_values(by='roi', ascending=False)

In [ ]:
sns.barplot(x='genres', y='roi', data=genre_analysis_plot)
plt.ylabel('ROI(%)')
plt.xlabel('Genre')
plt.xticks(rotation=90)
plt.show()

## Ideal Run Time?

## Are there certain directors, writers or actors to involve in our productions?

## Results

### Business Recommendation 1

### Business Recommendation 2

### Business Recommendation 3