# Movie Recommendations

Your company would like to start a movie studio and is asking us to recommend the best way foward. The main objective of this project is to produce three actionable recommendations for your company to take into consideration. With these recommendations your company can create their own successful movie studio.

# Goals

Here are the questions I would like to answer:
* What genres perform the best? 
* What is the ideal release date?
* Are there certain people involved in the most successful movies (directors, actors, or writers)?

## Data

* BOM Movie Gross (csv)
* IMDB (Database)

In [2]:
# import libraries
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
# connect database
conn = sqlite3.connect('../zippedData/im.db')

In [5]:
# review tables in the database (make sure bom is still added)
pd.read_sql("""

SELECT name
FROM sqlite_master
WHERE type = "table"

""", conn)

              name
0     movie_basics
1        directors
2        known_for
3       movie_akas
4    movie_ratings
5          persons
6       principals
7          writers
8  bom_movie_gross

In [12]:
pd.read_sql("""SELECT * FROM bom_movie_gross""",conn)

,index,title,studio,domestic_gross,foreign_gross,year
0,0,Toy Story 3,BV,415000000.0,652000000,2010
1,1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,3,Inception,WB,292600000.0,535700000,2010
4,4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...,...
3382,3382,The Quake,Magn.,6200.0,None,2018
3383,3383,Edward II (2018 re-release),FM,4800.0,None,2018
3384,3384,El Pacto,Sony,2500.0,None,2018
3385,3385,The Swan,Synergetic,2400.0,None,2018
3386,3386,An Actor Prepares,Grav.,1700.0,None,2018

## What genres perform the best?

## Ideal Release Date?

## Are there certain directors, writers or actors to involve in our productions?

## Methods

## Results

### Business Recommendation 1

### Business Recommendation 2

### Business Recommendation 3